.continue-assistindo h2{
  display: flex;
  font-family: var(--font-kant);
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 6rem;
}

.serie-info{
  color: #ffffff;
  font-family: var(--font-roboto);
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 0.75rem;
}

.serie-info span {
  color: #989898;
  margin-left: 0.5rem;
}

.thumbTiles.swiper{
  padding: 0 4%;
  margin-bottom: 7.5rem;
  
}

.thumbTile {
  width: 20%;
}

.thumbTile__image {
  width: 100%;
  border-radius: 4px;
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
  height: 100%;
  width: 6%;
  top: 0;
  bottom: 0;
  margin: 0;
}

.thumbTiles .swiper-button-prev{
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.thumbTiles .swiper-button-next{
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
  color: #ffffff;
  font-size: 6vw;
  font-weight: bold;
  transition: transform .1s ease-out;
}

@media (max-width: 800px){
  .continue-assistindo h2{
    justify-content: center;
    padding: 0px;
  }
}

@media (min-width: 800px){
  .thumbTiles .swiper-button-prev::after,
  .thumbTiles .swiper-button-next::after{
  display: none;
  font-size: 2.4vw;
}

  .thumbTiles .swiper-button-prev:hover::after,
  .thumbTiles .swiper-button-next:hover::after{
    transform: scale(1.25);
  }

  .thumbTiles:hover .swiper-button-prev::after,
  .thumbTiles:hover .swiper-button-next::after{
    display: block;
  } 
}